/*font-family: 'Roboto', sans-serif;*/

body{
margin: 0%;
padding: 0%;

}

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    justify-content: space-between;
    background-color: rgb(236, 138, 62);
    box-shadow: 1px 10px 20px gray;
    
}
.logo{
    margin: 10px;

}
#logo{
    width: 50px;
}
.nav-bar{
    margin: 30px;
}
#nav{
    padding-right: 10px;
    text-decoration: none;
    color: white;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
main{
    margin-top: 100px;
}

.container-carrusel{
    width: 70%;
    margin-left: 30%;
}    

.carousel-item{
    width: 500px;
    align-items: center;
}

footer{
    margin-top: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}
.div2{
    display: flex;
    flex-direction: column;
}
.card {
    
    padding: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: rgba(245, 173, 79, 0.618);
    border-radius: 20%;
}
#player-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-image: url(/src/cancha.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 60px;
}

#historia{
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: justify;
    
}